.Logo {
  display: flex;
  align-items: center;
}

.Logo img {
  margin: 10px;
  height: 50px;
  width: 50px;
}

.Logo span {
  font-family: "Sacramento", cursive;
  color: rgb(7, 37, 3);
  font-size: 2.5rem;
}
