.Stationery {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  margin-top: -30px;

  background-repeat: no-repeat;
}
.pencil {
  background-image: url(../../../../assets/pencil-svgrepo-com.svg);
}
.notebook {
  background-image: url(../../../../assets/notebook-svgrepo-com.svg);
}
.pen {
  background-image: url(../../../../assets/pen-svgrepo-com.svg);
}
.eraser {
  background-image: url(../../../../assets/eraser-svgrepo-com.svg);
}
.ruler {
  background-image: url(../../../../assets/ruler-tools-and-utensils-svgrepo-com.svg);
}
.scissors {
  background-image: url(../../../../assets/scissors-svgrepo-com.svg);
}

@media (min-width: 900px) {
  .Stationery {
    width: 40px;
    height: 40px;
    margin-top: -20px;
  }
}
