.Stationery {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-size: contain;

    margin-right: .5rem;
    margin-bottom: .5rem;
   
    
}
.notebook {
   background-image: url(../../../../assets/notebook.jpg);
}
.eraser {
   background-image: url(../../../../assets/eraser.jpg);
}
.ruler {
    background-image: url(../../../../assets/ruler.jpg);   
}
.pen {
    background-image: url(../../../../assets/pen.jpg);
}
.snack {
    background-image: url(../../../../assets/snack.jpg.png);
    
}
.scissors {
    background-image: url(../../../../assets/scissors.jpg);
}