.StationeryKit {
  background: url(../../../assets/Desk.jpg) no-repeat;
  background-size: 60%;
  margin-top: 50px;
}
.StationeryKit {
  background-image: url(../../../assets/Desk.jpg);


}
.bento {
  position: relative;
  top :50px;
  left : -180px;
  border-left: 10px solid transparent;
  border-right:200px solid transparent;
  border-bottom: 450px solid transparent;
  width: 400px;
  height:0px;
  transform: rotate(60-deg);


}
.StationeryKit .price {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Sacramento", cursive;
}
@media (min-width:840px) {
  .StationeryKit {
    width:840px;
  }
}
