.StationeryKit {
  background-image: url(../../../assets/desk.jpg);

}
.StationeryKit .price {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Sacramento", cursive;
}
@media (min-width: 500px) {
  .StationeryKit {
    width: 400px;
  }
}
