/* .Modal {
  width: 90%;
  padding: 1rem;
  position: fixed;
  z-index: 500;
  top: 100px;
  background-color: white;
  border: 1px solid black;
  font-family: "Merienda", cursive;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-100vh);
  border-radius: 40px;
}
.show {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 600px) {
  .Modal {
    width: 400px;
  }
} */

.Modal {
  width: 90%;
  padding: 30px;
  left: 50%;
  position: fixed;
  z-index: 500;
  top: 180px;
  background-color: white;
  border: 1 px solid black;

  transition: all 0.5s ease-out;
  opacity: 0;
  transform: translateY(-100vh);
}
.show {
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 400px) {
  .Modal {
    width: 500px;
    transform:translateX(-250px) ;

  }
}