.Button {
  height: 30px;
  width: 93px;
  border: none;
  border-radius: 10%;
  background-color: white;
  color: #086b08;
  font-weight: bold;
  font-family: "Sacramento", cursive;
  font-size: 16px;
  padding: 5px 10px;
  text-transform: uppercase;
}
.Button:disabled {
  opacity: 0.5;
}
.Button:not(:disabled):hover {
  opacity: 0.8;
}
.green {
  background-color: rgb(59, 148, 59);
  color: white;
  border-radius: 20px;
}
.red {
  background-color: #cf2f07;
  color: white;
  border-radius: 20px;
}
