.StationeryControls {
    display: flex;
    flex-flow: column nowrap;
    align-items:center;

    border: 1px solid rgb(134, 145, 41); 
    border-radius:10px ;
    background-color: rgb(238, 221, 68);
    width: 270px;
    height: 380px;
    padding: 30px;
    font-family:  'Sacramento', cursive;
    font-size: large;
 
   
    
}