.StationeryControl {
    margin-bottom: .5rem;
}
.StationeryControl .label {
color:white;
}
.StationeryControl button {
    border: 1px solid darkgreen;
    color:white;
    background-color: lightgreen;

}