.StationeryControl {
  display: flex;
  align-items: center;
}
.StationeryControl .label {
  color: rgb(53, 48, 48);
  font-size: 1.8rem;

  font-family: "Sacramento", cursive;
  padding: 0.4rem 1rem;
}
.StationeryControl button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  background-color: #af5ef1;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.StationeryControl button:disabled {
  opacity: 0.5;
}
.StationeryControl button:not(:disabled):hover {
  opacity: 0.8;
}

@media (min-width: 500px) {
  .StationeryControl .label {
    font-size: 2rem;
  }
}
